﻿@using WebFnB.Models
@model IEnumerable<LoaiSP>
<div class="title">Loại sản phẩm</div>
<ul class="list-group">
    @foreach (var loaisp in Model)
    {
        <li class="list-group-item list-group-item-action list-unstyled nav-link">
            <a href="@Url.Action("SPTheoLSP", "Product", new { id=loaisp.MaLoaiSP })">
                @loaisp.TenLoaiSP
            </a>
        </li>
    }
</ul>
