@{
    ViewBag.Title = "Giới thiệu";
}
    <h1>@ViewBag.Message</h1>

    <div class="card-deck">
        <div class="card">
            <img class="card-img" src="~/Images/shania-pinnata-cake.jpg" />
        </div>        
        <div class="card">
            <img class="card-img" src="~/Images/alex-lvrs-cocktail.jpg" />
        </div>        
        <div class="card">
            <img class="card-img" src="~/Images/cody-chan-cocktail.jpg" />
        </div>        
        <div class="card">
            <img class="card-img img-fluid" src="~/Images/olena-bohovyk-drinks.jpg"/>
        </div>
    </div>


    <hr />
    <p>FnB đã được thành lập vào 2000, bởi một nhóm người muốn thử một điều gì mới vào thời khắc chuyển giao thế kỷ.</p>
    <p>Trong cuộc hành trình kéo dài cho tới bây giờ, sự đam mê để cho khách hàng những lựa chọn thực phẩm tốt nhất là nhiệm vụ số 1 của quán</p>
</main>