@{
    ViewBag.Title = "Liên lạc";
}
<main aria-labelledby="title">
    <h1>@ViewBag.Message</h1>

    <address>
        <strong>Chăm sóc khách hàng:</strong><a href="#"> cskh@fnb.com</a><br />
        <strong>Marketing:</strong><a href="#"> marketing@fnb.com</a>
    </address>

    <h2>Trụ sở chính:</h2>
    <address>
        Gian hàng L2.20A, Tầng 2, Saigon Centre<br />
        65 Đ. Lê Lợi, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh, Vietnam<br />
        SĐT: +84 2838218727
    </address>
</main>