<a href="@Url.Action("HienThiGioHang", "Cart")" style="text-decoration: none; color:
white; font-weight: bold">
    <img src="~/Images/shopping-cart.png" style="height:24px;width:24px" /> Giỏ hàng (@ViewBag.TongSL)
</a>
